# Java 
**/target/ 
**/*.class 
.project 
.classpath 
.settings/ 
 
# Python 
**/__pycache__/ 
**/venv/ 
**/*.pyc 
.env 
 
# Node/React 
**/node_modules/ 
**/.next/ 
**/build/ 
**/dist/ 
 
# IDEs and System 
.vscode/ 
.idea/ 
.DS_Store 
*.log
